/*
Material UI overrides
*/

.MuiDataGrid-main {
	border: 1px solid #eaeaea !important;
	border-radius: 8px !important;
}

.MuiDataGrid-iconSeparator {
	display: none !important;
}

.MuiDataGrid-withBorderColor {
	border: none !important;
}

.MuiDataGrid-columnHeaderTitleContainerContent:first-child {
	margin-left: 52px;
}

.MuiDataGrid-cellContent:first-child {
	margin-left: 52px;
}

.MuiDataGrid-cellContent {
	margin-left: 27px;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
	margin-left: 27px;
}

@media screen and (max-width: 600px) {
	.MuiDataGrid-columnHeaderTitleContainerContent:first-child {
		margin-left: 10px;
	}

	.MuiDataGrid-cellContent:first-child {
		margin-left: 10px;
	}

	.MuiDataGrid-cellContent {
		margin-left: 10px;
	}

	.MuiDataGrid-columnHeaderTitleContainerContent {
		margin-left: 10px;
	}
}
