/*
Material UI overrides and some custom styles
*/

.container {
	overflow: hidden;
	max-width: 100%;
}

.logo {
	max-width: 100%;
	height: auto;
}

.MuiDataGrid-iconSeparator {
	display: none !important;
}

.MuiDataGrid-withBorderColor {
	border-color: #eaeaea !important;
}

.MuiDataGrid-columnHeaderTitleContainerContent:first-child,
.MuiDataGrid-cellContent:first-child {
	margin-left: 52px;
}

.MuiDataGrid-cellContent,
.MuiDataGrid-columnHeaderTitleContainerContent {
	margin-left: 27px;
}

@media screen and (max-width: 600px) {
	.MuiDataGrid-columnHeaderTitleContainerContent:first-child,
	.MuiDataGrid-cellContent:first-child,
	.MuiDataGrid-cellContent,
	.MuiDataGrid-columnHeaderTitleContainerContent {
		margin-left: 10px;
	}

	header {
		margin: 0 auto;
		display: flex;
		background-color: #fff !important;
		align-items: center;
		justify-content: center;
	}
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
	color: #744bfc !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
	color: #eaeaea !important;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input {
	border: 1px solid #cfc0ff;
	border-radius: 39px;
}
